*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
     background-image: url(img/Love\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} 

#line{
    text-decoration: underline;
    color: white;
}


